<!DOCTYPE html>
<html>

<head>
  <% include ./layout/header %>
  <link rel="stylesheet" href="/stylesheets/auth.css">
</head>
<% include ./layout/navbar %>

<body>
  <div class="wrap">
    <div class="loginBox">
      <form action="/auth/login" method="POST">
        <div class="loginTitle ui input">
          <input id="loginInput" name="username" type="text" placeholder="아이디">
        </div><br>
        <div id="loginTitle" class="ui input" style="margin-top:10px;">
          <input id="loginInput" name="password" type="password" placeholder="비밀번호">
        </div><br>
        <button type="submit" style="width:100%;margin-top:10px;" class="loginBtn ui secondary button">
          로그인
        </button>
      </form>
      <button onclick="location.href='/auth/register'" style="width:100%;margin-top:10px;" class="loginJoinBtn ui button">
        회원가입
      </button>
    </div>
  </div>
</body>

</html>